[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pywebview = "*"
flask = "*"
frida = "==17.17.0"
pyinstaller = "*"
pythonnet = "*"
cefpython3 = "*"
pyqt5 = "*"
qtpy = "*"
pyqtwebengine = "*"
cx-freeze = "*"
nuitka = "*"
livereload = "*"
pyautogui = "*"
keyboard = "*"
pytesseract = "*"
Pillow = "*"
opencv-python = "*"
easyocr = "*"
numpy = "*"
pywin32 = "*"
pefile = "*"
requests = "*"
packaging = "*"
pynput = "*"

[dev-packages]

[requires]
python_version = "3.12.4"

[scripts]
dev = "set DEBUG_MODE=True && set FLASK_APP=modules:app && set FLASK_ENV=development && npx concurrently \"flask --debug run\" \"npm run start --prefix app\""
start = "set DEBUG_MODE=True && npm run build --prefix app && python main.py"
start-flask = "set FLASK_APP=modules:app && flask --debug run"
build = "npm run build --prefix app && pyinstaller main.spec"
